@tailwind base;
@tailwind components;
@tailwind utilities;
 
@import url('https://fonts.cdnfonts.com/css/general-sans');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary:#e6e8ff;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --lightBlack:#1a1a1a;
  --darkBlack:#000001;
  --hoverBlack:#303030;
  

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Sans-serif;
  font-size: 1.3rem;
}


html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}
body{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* background-color: var(--darkBlack); */
  
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3.3rem ;
  background-color: var(--secondary);
  border-radius: 1rem;
  transition: all .3s linear;
  border: .1px solid transparent;
}
.btn:hover{
  scale: 1.3;
  border: .1px solid white;
  box-shadow: var(--shadow);
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading{
  font-size: 3.3rem;
  font-weight: 600;
  padding: 1.5rem 0;
}
.pp{
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 111rem;
}

/* Scroll bar setting  */
/* Scrollbar for Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Adjust width for vertical scrollbar */
  height: 8px; /* Adjust height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #000000; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f1f1f1; /* Adfds a border to give space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #333333; /* Darker color on hover */
}

 